<title>All Implementation Messages</title><table width=100%>
<tr><td align=LEFT cellspacing=0 cellpadding=0><b>All Implementation Messages</b></td><td><b>Sun Jul 7 18:01:42 2019</b></td></tr></table><hr><br><table border cellspacing='0' cellpadding='0'><tr bgcolor='#DDDDDD'><td>Program</td><td> </td><td>All Implementation Messages - Errors, Warnings, and Infos</td><td>New</td></tr>
<tr><td>xst</td><td>INFO&nbsp;</td><td>Xst:2679 - Register &lt;databus&lt;15&gt;&gt; in unit &lt;ps2_module&gt; has a constant value of 0 during circuit operation. The register is replaced by logic.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>INFO&nbsp;</td><td>Xst:2679 - Register &lt;databus&lt;14&gt;&gt; in unit &lt;ps2_module&gt; has a constant value of 0 during circuit operation. The register is replaced by logic.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>INFO&nbsp;</td><td>Xst:2679 - Register &lt;databus&lt;13&gt;&gt; in unit &lt;ps2_module&gt; has a constant value of 0 during circuit operation. The register is replaced by logic.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>INFO&nbsp;</td><td>Xst:2679 - Register &lt;databus&lt;12&gt;&gt; in unit &lt;ps2_module&gt; has a constant value of 0 during circuit operation. The register is replaced by logic.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>INFO&nbsp;</td><td>Xst:2679 - Register &lt;databus&lt;11&gt;&gt; in unit &lt;ps2_module&gt; has a constant value of 0 during circuit operation. The register is replaced by logic.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>INFO&nbsp;</td><td>Xst:2679 - Register &lt;databus&lt;10&gt;&gt; in unit &lt;ps2_module&gt; has a constant value of 0 during circuit operation. The register is replaced by logic.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>INFO&nbsp;</td><td>Xst:2679 - Register &lt;databus&lt;9&gt;&gt; in unit &lt;ps2_module&gt; has a constant value of 0 during circuit operation. The register is replaced by logic.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>INFO&nbsp;</td><td>Xst:2679 - Register &lt;databus&lt;8&gt;&gt; in unit &lt;ps2_module&gt; has a constant value of 0 during circuit operation. The register is replaced by logic.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>INFO&nbsp;</td><td>Xst:2117 - HDL ADVISOR - Mux Selector &lt;currentState&gt; of Case statement line 134 was re-encoded using one-hot encoding. The case statement will be optimized (default statement optimization), but this optimization may lead to design initialization problems. To ensure the design works safely, you can:
	- add an 'INIT' attribute on signal &lt;currentState&gt; (optimization is then done without any risk)
	- use the attribute 'signal_encoding user' to avoid onehot optimization
	- use the attribute 'safe_implementation yes' to force XST to perform a safe (but less efficient) optimization</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:646 - Signal &lt;oe_mem&gt; is assigned but never used. This unconnected signal will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:646 - Signal &lt;iqr_ps2&gt; is assigned but never used. This unconnected signal will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>INFO&nbsp;</td><td>Xst:1767 - HDL ADVISOR - Resource sharing has identified that some arithmetic operations in this design can share the same physical resources for reduced device utilization. For improved clock frequency you may try to disable resource sharing.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:2677 - Node &lt;sel_data_0&gt; of sequential type is unconnected in block &lt;wholeDesign&gt;.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>INFO&nbsp;</td><td>Xst:3226 - The RAM &lt;Mram_data&gt; will be implemented as a BLOCK RAM, absorbing the following register(s):</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>INFO&nbsp;</td><td>Xst:3226 - The RAM &lt;Mram_buff_data&gt; will be implemented as a BLOCK RAM, absorbing the following register(s):</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:2677 - Node &lt;sel_data_0&gt; of sequential type is unconnected in block &lt;wholeDesign&gt;.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:1293 - FF/Latch &lt;fontRom_offset_0&gt; has a constant value of 0 in block &lt;vga&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:1896 - Due to other FF/Latch trimming, FF/Latch &lt;fontRom_offset_1&gt; has a constant value of 0 in block &lt;vga&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:1896 - Due to other FF/Latch trimming, FF/Latch &lt;fontRom_offset_2&gt; has a constant value of 0 in block &lt;vga&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:1896 - Due to other FF/Latch trimming, FF/Latch &lt;fontRom_offset_3&gt; has a constant value of 0 in block &lt;vga&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:1896 - Due to other FF/Latch trimming, FF/Latch &lt;fontRom_offset_4&gt; has a constant value of 0 in block &lt;vga&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:1896 - Due to other FF/Latch trimming, FF/Latch &lt;fontRom_offset_5&gt; has a constant value of 0 in block &lt;vga&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:1896 - Due to other FF/Latch trimming, FF/Latch &lt;fontRom_offset_6&gt; has a constant value of 0 in block &lt;vga&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:1896 - Due to other FF/Latch trimming, FF/Latch &lt;fontRom_offset_7&gt; has a constant value of 0 in block &lt;vga&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:1896 - Due to other FF/Latch trimming, FF/Latch &lt;char_in_line_offset_0&gt; has a constant value of 0 in block &lt;vga&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:1896 - Due to other FF/Latch trimming, FF/Latch &lt;char_in_line_offset_1&gt; has a constant value of 0 in block &lt;vga&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:1896 - Due to other FF/Latch trimming, FF/Latch &lt;char_in_line_offset_2&gt; has a constant value of 0 in block &lt;vga&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:1896 - Due to other FF/Latch trimming, FF/Latch &lt;char_in_line_offset_3&gt; has a constant value of 0 in block &lt;vga&gt;. This FF/Latch will be trimmed during the optimization process.</td><td>&nbsp;</td></tr>
<tr><td>xst</td><td>WARNING&nbsp;</td><td>Xst:2677 - Node &lt;PS2_HW_1/irq&gt; of sequential type is unconnected in block &lt;wholeDesign&gt;.</td><td>&nbsp;</td></tr>
<tr><td>map</td><td>INFO&nbsp;</td><td>MapLib:562 - No environment variables are currently set.</td><td>&nbsp;</td></tr>
<tr><td>map</td><td>INFO&nbsp;</td><td>LIT:244 - All of the single ended outputs in this design are using slew rate limited output drivers. The delay on speed critical single ended outputs can be dramatically reduced by designating them as fast outputs.</td><td>&nbsp;</td></tr>
<tr><td>map</td><td>WARNING&nbsp;</td><td>Pack:266 - The function generator VGA_HW_1/VGA_DRIVER/Mmux_frontRom_data_mux0000_261 failed to merge with F5 multiplexer VGA_HW_1/VGA_DRIVER/Mmux_frontRom_data_mux0000_25_f5.  There is a conflict for the FXMUX.  The design will exhibit suboptimal timing.</td><td>&nbsp;</td></tr>
<tr><td>map</td><td>WARNING&nbsp;</td><td>PhysDesignRules:812 - Dangling pin &lt;DOA7&gt; on block:&lt;MEMORY_1/Mram_data2.A&gt;:&lt;RAMB16_RAMB16A&gt;.</td><td>&nbsp;</td></tr>
<tr><td>par</td><td>WARNING&nbsp;</td><td>Place:1019 - A clock IOB / clock component pair have been found that are not placed at an optimal clock IOB / clock site pair. The clock component &lt;interrupts_1_BUFGP/BUFG&gt; is placed at site &lt;BUFGMUX_X3Y3&gt;. The IO component &lt;interrupts&lt;1&gt;&gt; is placed at site &lt;IPAD119&gt;.  This will not allow the use of the fast path between the IO and the Clock buffer. This is normally an ERROR but the CLOCK_DEDICATED_ROUTE constraint was applied on COMP.PIN &lt;interrupts&lt;1&gt;.PAD&gt; allowing your design to continue. This constraint disables all clock placer rules related to the specified COMP.PIN. The use of this override is highly discouraged as it may lead to very poor timing results. It is recommended that this error condition be corrected in the design.</td><td>&nbsp;</td></tr>
<tr><td>par</td><td>WARNING&nbsp;</td><td>Place:1019 - A clock IOB / clock component pair have been found that are not placed at an optimal clock IOB / clock site pair. The clock component &lt;interrupts_2_BUFGP/BUFG&gt; is placed at site &lt;BUFGMUX_X1Y10&gt;. The IO component &lt;interrupts&lt;2&gt;&gt; is placed at site &lt;IPAD152&gt;.  This will not allow the use of the fast path between the IO and the Clock buffer. This is normally an ERROR but the CLOCK_DEDICATED_ROUTE constraint was applied on COMP.PIN &lt;interrupts&lt;2&gt;.PAD&gt; allowing your design to continue. This constraint disables all clock placer rules related to the specified COMP.PIN. The use of this override is highly discouraged as it may lead to very poor timing results. It is recommended that this error condition be corrected in the design.</td><td>&nbsp;</td></tr>
<tr><td>par</td><td>WARNING&nbsp;</td><td>Place:1019 - A clock IOB / clock component pair have been found that are not placed at an optimal clock IOB / clock site pair. The clock component &lt;interrupts_3_BUFGP/BUFG&gt; is placed at site &lt;BUFGMUX_X3Y2&gt;. The IO component &lt;interrupts&lt;3&gt;&gt; is placed at site &lt;IPAD125&gt;.  This will not allow the use of the fast path between the IO and the Clock buffer. This is normally an ERROR but the CLOCK_DEDICATED_ROUTE constraint was applied on COMP.PIN &lt;interrupts&lt;3&gt;.PAD&gt; allowing your design to continue. This constraint disables all clock placer rules related to the specified COMP.PIN. The use of this override is highly discouraged as it may lead to very poor timing results. It is recommended that this error condition be corrected in the design.</td><td>&nbsp;</td></tr>
<tr><td>par</td><td>WARNING&nbsp;</td><td>Place:1019 - A clock IOB / clock component pair have been found that are not placed at an optimal clock IOB / clock site pair. The clock component &lt;interrupts_6_BUFGP/BUFG&gt; is placed at site &lt;BUFGMUX_X2Y10&gt;. The IO component &lt;interrupts&lt;6&gt;&gt; is placed at site &lt;IPAD151&gt;.  This will not allow the use of the fast path between the IO and the Clock buffer. This is normally an ERROR but the CLOCK_DEDICATED_ROUTE constraint was applied on COMP.PIN &lt;interrupts&lt;6&gt;.PAD&gt; allowing your design to continue. This constraint disables all clock placer rules related to the specified COMP.PIN. The use of this override is highly discouraged as it may lead to very poor timing results. It is recommended that this error condition be corrected in the design.</td><td>&nbsp;</td></tr>
<tr><td>trce</td><td>INFO&nbsp;</td><td>Timing:3412 - To improve timing, see the Timing Closure User Guide (UG612).</td><td>&nbsp;</td></tr>
<tr><td>trce</td><td>INFO&nbsp;</td><td>Timing:2752 - To get complete path coverage, use the unconstrained paths option. All paths that are not constrained will be reported in the unconstrained paths section(s) of the report.</td><td>&nbsp;</td></tr>
<tr><td>trce</td><td>INFO&nbsp;</td><td>Timing:3339 - The clock-to-out numbers in this timing report are based on a 50 Ohm transmission line loading model.  For the details of this model, and for more information on accounting for different loading conditions, please see the device datasheet.</td><td>&nbsp;</td></tr>
<tr><td>trce</td><td>INFO&nbsp;</td><td>Timing:3390 - This architecture does not support a default System Jitter value, please add SYSTEM_JITTER constraint to the UCF to modify the Clock Uncertainty calculation.</td><td>&nbsp;</td></tr>
<tr><td>trce</td><td>INFO&nbsp;</td><td>Timing:3389 - This architecture does not support 'Discrete Jitter' and 'Phase Error' calculations, these terms will be zero in the Clock Uncertainty calculation.  Please make appropriate modification to SYSTEM_JITTER to account for the unsupported Discrete Jitter and Phase Error.</td><td>&nbsp;</td></tr>
<tr><td>bitgen</td><td>WARNING&nbsp;</td><td>PhysDesignRules:812 - Dangling pin &lt;DOA7&gt; on block:&lt;MEMORY_1/Mram_data2.A&gt;:&lt;RAMB16_RAMB16A&gt;.</td><td>&nbsp;</td></tr></table>